.dart_tool/
.packages
.pub/
build/
coverage/
android/
ios/
web/
linux/
macos/
windows/
*.iml
.idea/
.flutter-plugins
.flutter-plugins-dependencies
android/key.properties\nandroid/app/*.jks\nandroid/app/*.keystore\n